body {
    
}

/*Prueba grid*/
.grid-container {
  display: grid;
    max-height: none;
  grid-gap: 0px;
  grid-template-columns: 1fr 102px 106px 100px 208px 50px 50px 208px 100px 106px 102px 1fr;
    grid-template-rows: 85px 107px 56px 143px 494px 136px 243px 193px 400px 90px
        130px 683px 143px 353px 53px 157px 80px 40px 71px 200px;
  background-color: #FFFFFF;
  padding: 0px;
}


/*<style type="text/css">*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:visited {text-decoration:none; color: white;} /*Link visitado*/
a:active {text-decoration:none; color: white;} /*Link activo*/
a:hover {text-decoration:none; color: white;} /*Mause sobre el link*/
/*</style>*/

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 13px;
    overflow: hidden;
    
    
}

ul li{
    float: left;
    padding-right: 70px;
    
}

ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    text-decoration:none;
    max-height: 10px;
    min-height: 10px;

}


ul li a:hover {
    
    background-color: #016216;
    
    
}

h6 {
    font-family: "Manjari";
    font-size: 16px;
    color: white;
    font-weight: inherit;
}

h2
{
    font-family: "Manjari";
    font-size: 20px;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h3
{
  font-family: "Manjari";
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h4
{
    font-family: "Manjari";
    font-size: 24px;
    color: #000000;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}

h1 {
    font-family: "Manjari";
    font-size: 16px;
    color: black;
    font-weight: inherit;
}

.item1 {
    grid-column: 1/13;
    grid-row: 1;
}

.item2 {
    grid-column: 4/13;
    grid-row: 1;
    font-family: "Manjari";

}

.item3 {
    grid-row: 1;
    grid-column: 1/5;
  padding-left: 50px;
    color: white;
    
}

.item4 {
    grid-column: 2;
    grid-row: 5;
}

.item5 {
    grid-column: 2/5;
    grid-row: 3;
}

.item6 {
    grid-column: 2/6;
    grid-row: 4;
}

.item7{
    grid-column: 2/7;
    grid-row: 6;
}

.item8{
    grid-row: 7;
    grid-column: 2/7;
    padding-left: 30px;
}

.item9{
    grid-column: 2/6;
    grid-row: 10;
}

.item10{
    grid-column: 2/8;
    grid-row: 11;
}

.item11{
   grid-column: 2/12;
    grid-row: 12/15;
    
    
}

.item12{
    grid-column: 2/6;
    grid-row: 13;
}

.item13{
    grid-column: 4/6;
    grid-row: 14;
}

.item14{
    grid-column: 8/10;
    grid-row: 14;
}

.item15{
    grid-column: 4/6;
    grid-row: 16;
    background-color: #2B8B41;
    width: 110px;
    padding: 0px 40px;
    height: 5em;
    
}

.item16{
    grid-column: 8/10;
    grid-row: 16;
    background-color: #2B8B41;
    width: 110px;
    padding: 0px 40px;
    height: 5em;
}

.item17{
    background-color: #54AF67;
    grid-column: 1/13;
    grid-row: 17
}

.item18{
    background-color: #2B8B41;
    grid-column: 1/13;
    grid-row: 18/21;
}

.item19{
    grid-column: 2/4;
    grid-row: 19;
}

.item20{
    grid-column: 2/6;
    grid-row: 20;
}

.item21{
    grid-column: 9/12;
    grid-row: 20
}
