body {
    
}

/*Prueba grid*/
.grid-container {
  display: grid;
    max-height: none;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 150px auto auto auto auto auto auto
        auto auto auto auto auto 89px 142px 89px auto 69px auto auto 89px auto auto 89px auto auto auto auto auto 89px 80px 71px auto;
  background-color: #FFFFFF;
  padding: 0px;
}


/*<style type="text/css">*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:visited {text-decoration:none; color: white;} /*Link visitado*/
a:active {text-decoration:none; color: white;} /*Link activo*/
a:hover {text-decoration:none; color: white;} /*Mause sobre el link*/
/*</style>*/

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 13px;
    overflow: hidden;
    margin: 0;
    list-style: none;
    display: flex;
    
    
}

ul li{
    float: left;
    display: flex;
    flex-grow: 1;
    text-align: center;
   
    
}

ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 17px 20px;
    text-decoration:none;
    max-height: 10px;
    min-height: 10px;
    
}


ul li a:hover {
    
    background-color: #016216;
    z-index: 2;
}

h6 {
    font-family: "Manjari";
    font-size: 16px;
    color: white;
    font-weight: inherit;
}

h2
{
    font-family: "Manjari";
    font-size: 20px;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h3
{
  font-family: "Manjari";
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h4
{
    font-family: "Manjari";
    font-size: 24px;
    color: #000000;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}

h1 {
    font-family: "Manjari";
    font-size: 16px;
    color: black;
    font-weight: inherit;
}


    
#btn-menu{
    display: block;
}

.item41 label{
    display: none;
    width: 35px;
    height: 30px;
    padding: 20px;
    cursor: pointer;
    background: #2B8B41;
    text-align: center;
    z-index: 500;
    
}


.item41 label:hover{
    cursor: pointer;
    background: #54AF67;
    
    
}

.item1{
     grid-column: 1/10;
    grid-row: 1/2;
    z-index: 1;
}

.item2{
    grid-column: 3/10;
    grid-row: 1/2;
    font-family:"Manjari";
    z-index: 3;
}

.item3{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    padding-left: 40px;
    color: white;
    font-family: "Manjari";
}
.item4{
    grid-row: 5/6;
    grid-column: 2/9;
    
}


.item5{
    grid-column: 2/9;
    grid-row: 3/4;
}

.item6{
    grid-column: 2/5;
    grid-row: 4/5;
}

.item7{
    grid-column: 2/6;
    grid-row: 6/7;
}

.item8{
    grid-column: 2/9;
    grid-row: 7/8;
}

.item9{
    grid-column:2/9;
    grid-row: 10/11;
}

.item10{
    grid-column: 2/5;
    grid-row: 11/12;
    margin-bottom: 20px;
}

.item11{
    grid-column: 2/9;
    grid-row: 12/13;
} 

.item12{
    grid-column: 2/9;
    grid-row: 27/28;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.item13{
    grid-column: 3/6;
    grid-row: 28/29;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}

.item15{
    grid-column: 3/4;
    grid-row: 29/30;
    z-index: 2;
    background: #2B8B41;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item17{
    grid-column: 1/10;
    grid-row: 31/32;
    background: #54AF67;
}

.item18{
    grid-column: 1/10;
    grid-row: 32/34;
    background: #2B8B41;
}

.item19{
    grid-column: 2/4;
    grid-row: 32/33;
}

.item20{
    grid-column: 2/4;
    grid-row: 33/34;
}

.item21{
    grid-column: 7/9;
    grid-row: 33/34;
}
.item26{
    grid-column: 1/10;
    grid-row: 15/16;
    background: #dcdcdc;
}

.item27{
    grid-column: 1/10;
    grid-row: 15/16;
    background: #f6f6f6;
    height: 70%;
}

.item28{
    grid-column: 2/9;
    grid-row: 17/18;
}

.item29{
    grid-column: 2/9;
    grid-row: 19/20;
}

.item30{
    grid-column: 4/8;
    grid-row: 19/20;
    height: 2px;
    background: #000000;
}


.item31{
    grid-column: 2/9;
    grid-row: 20/21;
    text-align: center;
    
}

.item32{
    grid-column: 2/9;
    grid-row: 21/22;
    margin-top: 50px;
}

.item33{
    grid-column: 4/8;
    grid-row: 21/22;
    height: 2px;
    background: #000000;
    margin-top: 50px;
}

.item34{
    grid-column: 2/9;
    grid-row: 22/23;
    text-align: center;
}

.item35{
    grid-column: 2/9;
    grid-row: 24/25;
    margin-top: 50px;
}

.item36{
    grid-column: 4/8;
    grid-row: 24/25;
    background: #000000;
    height: 2px;
    margin-top: 50px;
}

.item37{
    grid-column: 2/9;
    grid-row: 25/26;
    text-align: center;
}

.item38{
    display: none;
}

.item39{
    display: none;
}

.item40{
    display: none;
}

.item41{
    display: none;
}


@media (max-width:768px){
    

    
    ul {
        flex-direction: column;
    }
        
    ul li a:hover{
        display: flex;
        flex-grow: 1;    
        
    
     }
    .item2{
        grid-column: 1/10;
        grid-row: 1/3;
        background: #2B8B41;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    
    
    
    .item6{
        grid-column: 2/9;
        grid-row: 4/5;
    }
    
    .item8{
        display: none;
    }
    
    .item9{
        grid-column: 2/9;
        grid-row: 11/12;
    }
    
    .item10{
        grid-column: 2/9;
        grid-row: 12/13;
    }
    
    .item11{
        height: 50%;
        grid-row: 13/14;
    }
    
    .item13{
        width: 100%;
    }
    
    .item15{
        grid-column: 3/7;
        text-align: center;
    }
    
    .item20{
        grid-column: 2/5;
        
    }
    
    .item21{
        grid-column: 6/9;
    }
    
    .item26{
        grid-row: 15/16;
    }
    
    .item27{
        grid-row: 15/16;
    }
    
    .item28{
        grid-row: 17/18;
    }
    .item30{
        display: none;
    }
    
    .item31{
        width: 100%;
    }
    
    .item33{
        display: none;
    }
    .item36{
        display: none;
    }
    .item38{
        display: block;
        grid-column: 2/9;
        grid-row: 7/8;
    }
    
    .item39{
        display: block;
        grid-column: 2/9;
        grid-row: 8/9;
    }
    
    .item40{
        display: block;
        grid-column: 2/9;
        grid-row: 9/10;
    }
    
    .item41{
        display: block;
        grid-column: 2/9;
        grid-row: 10/11;
    }


    }
