body {
    
}

/*Prueba grid*/
.grid-container {
  display: grid;
    max-height: none;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 150px auto auto auto auto auto auto auto auto auto auto auto
        auto auto auto auto 53px 157px 80px 40px auto auto;
  background-color: #FFFFFF;
  padding: 0px;
}


/*<style type="text/css">*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:visited {text-decoration:none; color: white;} /*Link visitado*/
a:active {text-decoration:none; color: white;} /*Link activo*/
a:hover {text-decoration:none; color: white;} /*Mause sobre el link*/
/*</style>*/

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 13px;
    overflow: hidden;
    margin: 0;
    list-style: none;
    display: flex;
    
    
}

ul li{
    float: left;
    display: flex;
    flex-grow: 1;
    text-align: center;
   
    
}

ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 17px 20px;
    text-decoration:none;
    max-height: 10px;
    min-height: 10px;
    
}


ul li a:hover {
    
    background-color: #016216;
    z-index: 2;
}

h6 {
    font-family: "Manjari";
    font-size: 16px;
    color: white;
    font-weight: inherit;
}

h2
{
    font-family: "Manjari";
    font-size: 20px;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h3
{
  font-family: "Manjari";
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h4
{
    font-family: "Manjari";
    font-size: 24px;
    color: #000000;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}

h1 {
    font-family: "Manjari";
    font-size: 16px;
    color: black;
    font-weight: inherit;
}


    
    



#btn-menu{
    display: block;
}

.item41 label{
    display: none;
    width: 35px;
    height: 30px;
    padding: 20px;
    cursor: pointer;
    background: #2B8B41;
    text-align: center;
    z-index: 500;
    
}


.item41 label:hover{
    cursor: pointer;
    background: #54AF67;
    
    
}

.item1{
    grid-column: 1/10;
    grid-row: 1/2;
    z-index: 1;
}

.item2{
    grid-column: 3/10;
    grid-row: 1/2;
    font-family:"Manjari";
    z-index: 3;
}

.item3{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    padding-left: 40px;
    color: white;
    font-family: "Manjari";
}

.item4{
    grid-row: 5/6;
    grid-column: 2/9;
    
}

.item5{
    grid-column: 2/5;
    grid-row: 3/4;
}

.item6{
    grid-column: 2/5;
    grid-row: 4/5;
}

.item7{
    grid-column: 2/9;
    grid-row: 6/7;
}

.item8{
    grid-column: 2/9;
    grid-row: 7/9;
}

.item9{
    grid-column:2/9;
    grid-row: 13/14;
}

.item10{
    grid-column: 2/5;
    grid-row: 14/15;
    margin-bottom: 20px;
}

.item11{
    grid-column: 2/9;
    grid-row: 15/16;
}

.item12{
    grid-column: 2/9;
    grid-row: 16/17;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.item13{
    grid-column: 1/4;
    grid-row: 17/18;
    text-align: center;
}
  
.item14{
    grid-column: 3/6;
    grid-row: 17/18;
    text-align: center;
}

.item15{
    grid-column: 2/3;
    grid-row: 19;
    text-align: center;
    z-index: 2;
    background: #2B8B41;
    height: 50%;
}

.item16{
    grid-column: 4/5;
    grid-row: 19;
    text-align: center;
    z-index: 2;
    background: #2B8B41;
    height: 50%;

}

.item17{
    grid-column: 1/10;
    grid-row: 20/21;
    background: #54AF67;

}

.item18{
    grid-column: 1/10;
    grid-row: 21/24;
    background: #2B8B41;
   
}

.item19{
    grid-column: 2/4;
    grid-row: 22/23;
}

.item20{
    grid-column: 2/5;
    grid-row: 23/24;
}

.item21{
    grid-column: 7/9;
    grid-row: 23/24;
}

.item22{
    grid-column:5/8;
    grid-row: 17/18;
    text-align: center;
}

.item23{
    grid-column: 7/10;
    grid-row: 17/18;
    text-align: center;
}

.item24{
    grid-column: 6/7;
    grid-row: 19;
    z-index: 2;
    background: #2B8B41;
    height: 50%;
    text-align: center;
}

.item25{
    grid-column:8/9;
    grid-row: 19;
    z-index: 2;
    background:#2B8B41;
    height: 50%;
    text-align: center;
}

.item26{
    display: none;
}

.item27{
    display: none;
}

.item28{
    display: none;
}

.item29{
    display: none;
}

.item30{
    display: none;
}

.item31{
    display: none;
}

@media (max-width:768px){
    

   
    ul {
        flex-direction: column;
        
    
     }
    
    ul li a:hover{
        display: flex;
        flex-grow: 1;
    }
    .item2{
        grid-column: 1/10;
        grid-row: 1/3;
        background: #2B8B41;
        display: flex;
        justify-content: center;
        z-index: 1;
    
    }
    
    .item4{
        grid-column: 2/9;
        grid-row: 5/6;
    }
    
    .item6{
        grid-column: 2/9;
        grid-row: 4/5; 
    }
    
    .item8{
        display: none;
    }
    
    .item10{
        grid-column: 2/9;
    }
    
    .item20{
        grid-column: 2/5;
    }
    .item21{
        grid-column: 6/9;
    }
    
    .item26{
        display: block;
        grid-column: 2/9;
        grid-row: 7/8;
    }
    .item27{
        display: block;
        grid-column: 2/9;
        grid-row: 8/9;
    }
    
    .item28{
        display: block;
        grid-column: 2/9;
        grid-row: 9/10;
    }
    
    .item29{
        display: block;
        grid-column:2/9;
        grid-row: 10/11;
    }
    
    .item30{
        display: block;
        grid-column: 2/9;
        grid-row: 11/12;
    }
    
    .item31{
        display: block;
        grid-column: 2/9;
        grid-row: 12/13;
    }

    }

