body {
    
}

/*Prueba grid*/
.grid-container {
  display: grid;
    max-height: none;
  grid-gap: 0px;
  grid-template-columns: 1fr 102px 380px 134px 134px 380px 102px 1fr;
    grid-template-rows: 85px 103px 123px 696px 80px 30px 232px 80px 180px 142px 89px 57px 47px 280px 259px 57px 47px 384px 363px 57px 47px 450px 105px 135px 642px 164px 70px 80px 124px;
  background-color: #FFFFFF;
  padding: 0px;
}


.item1 {
    grid-column: 1/9;
    grid-row: 1;
}

.item2 {
    grid-column: 4/8;
    grid-row: 1;

}

.item3 {
    grid-row: 1;
    grid-column: 1/5;
  padding-left: 50px;
    color: white;
    
}

.item4 {
    grid-column: 3/7;
    grid-row: 2; 
    
}

.item5 {
    grid-column: 3/7;
    grid-row: 4;
    padding-top: 15px
}

.item6 {
    grid-column: 3;
    grid-row: 3;
    width: 70%;
    padding-top: 170px;
}

.item7 {
    grid-row: 6;
    grid-column: -2/-8;
     
}
.item8 {
    grid-column: 3;
    grid-row: 7/9;
    padding-left: 50px;

}

.item9 {
    grid-column: 6/7;
    grid-row: 7/9;
    padding-left: 50px;
    
}

.item10{
    grid-column: 1/10;
    grid-row: 10;
    background: #ECEBEB;
    height: 100px;
}

.item11 {
    grid-column: 1/10;
    grid-row: 10;
    background:#ABABAB;
    height: 40px;
    margin-top: 100px;
}

.item12{
    grid-column: 1/4;
    grid-row: 12;
}

.item13{
    grid-column: 3/4;
    grid-row: 12;
    position: relative;
    top: -9px;
    
}

.item14{
    grid-column: 3/5;
    grid-row: 14
}

.item15{
    grid-column: 5/7;
    grid-row: 14;
}

.item16{
    grid-column: 5/9;
    grid-row: 16;
}

.item17{
    grid-column: 5/7;
    grid-row: 16;
    position: relative;
    top: -9px;
    left: 40px;
}

.item18{
    grid-column: 5/7;
    grid-row: 18;
    
}

.item19{
    grid-column: 3;
    grid-row: 15;
    position: relative;
    left: 50px;
    top: 40px;
}

.item20{
    grid-column: 2;
    grid-row: 18;
}

.item21{
    grid-column: 1/4;
    grid-row: 20;
    
}

.item22{
    grid-column: 3/4;
    grid-row: 20;
    position: relative;
    top: -9px;
}

.item23{
    grid-column: 3/5;
    grid-row: 22;
}

.item24{
    background: #ECEBEB;
    height: 100px;
    grid-column: 1/10;
    grid-row: 24;
}
    
.item25{
    background:#ABABAB;
    height: 40px;
    margin-top: 100px;
    grid-column: 1/10;
    grid-row: 24;
    
}

.item26{
    grid-column: 2;
    grid-row: 25;
    position: relative;
    top: 150px;
}

.item27{
    grid-column: 4;
    grid-row: 25;
    position: relative;
    top: 250px;
}

.item28{
    grid-column: 6;
    grid-row: 25;
    position: relative;
    top: 150px;
    left: 180px;
}

.item29{
    grid-column: 1/10;
    grid-row: 26/30;
    background: #204828
}

.item30{
    grid-column: 6;
    grid-row: 25;
    position: relative;
    top:242px;
    left:-175px;
}

.item31{
    grid-column: 4/6;
    grid-row: 25;
    position: relative;
    top:170px;
    left: -60px;
    width: 400px
    
}

.item32{
    grid-column: 1/10;
    grid-row: 26;
    background: #2B8B41;
    height: 100px;
}

.item33{
    grid-column: 2/4;
    grid-row: 27;
    position: relative;
    top: -40px;
}

.item34{
    grid-column: 2/4;
    grid-row: 27;
}

.item35{
    grid-column: 6;
    grid-row: 27;
}
/*<style type="text/css">*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:visited {text-decoration:none; color: white;} /*Link visitado*/
a:active {text-decoration:none; color: white;} /*Link activo*/
a:hover {text-decoration:none; color: white;} /*Mause sobre el link*/
/*</style>*/

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 13px;
    overflow: hidden;
    
    
}

ul li{
    float: left;
    padding-right: 70px;
    
}

ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    text-decoration:none;
    max-height: 10px;
    min-height: 10px;

}


ul li a:hover {
    
    background-color: #016216;
    
    
}

h6 {
    font-family: "Manjari";
    font-size: 16px;
    color: white;
    font-weight: inherit;
}

h2
{
    font-family: "Manjari";
    font-size: 20px;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h3
{
    font-family: "Manjari";
    font-size: 120px;
    color: #000000;
    font-weight:inherit;
    
}

h4
{
    font-family: "Manjari";
    font-size: 24px;
    color: #000000;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}

h1 {
    font-family: "Manjari";
    font-size: 16px;
    color: black;
    font-weight: inherit;
}
